doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    div(id="worldMap") 
    input(id="tweetInput")
    button(id="tweetButton") Select topic
    script(src='/javascript/bundle.js')
